<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lost Password</title>
</head>
<body>

<p th:text="#{lostPasswordForm.instructions}"></p>

<form th:action="@{/api/reset-password/request}" th:object="${newPasswordForm}" method="POST">
    <div>
        <p th:text="#{lostPasswordForm.emailDescription}"></p>
        <input type="text" th:field="*{email}"/></br>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <div>
        <p th:text="#{lostPasswordForm.passwordDescription}"></p>
        <input type="password" th:field="*{password}"/></br>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>
    <div>
        <p th:text="#{lostPasswordForm.repeatedPasswordDescription}"></p>
        <input type="password" th:field="*{repeatedPassword}"/></br>
        <span th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}"></span>
        <span th:if="${repeatedPasswordFailure}" th:text="#{lostPasswordForm.repeatedPasswordFailure}"></span>
    </div>
    </br>
    <input type="submit" th:value="#{lostPasswordForm.newPasswordSubmitButton}"/>
</form>
</body>
</html>
